//
//  Secrets.Example.xcconfig
//  PatsWeather
//
//  Created by Patrick Moscova on 3/4/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPENWEATHER_API_KEY = PUT_YOUR_KEY_HERE
